
<% if(errors) { %>
    <%console.log(errors)%>
    <% errors.forEach(error => { %>
        <%console.log(error.msg)%>
        <div class="alert alert-danger">
            <%= error.msg %>
        </div>
    <% }) %>
<% } %>