<head>
    <!-- BOOTSTRAP -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- GLOBAL CSS -->
    <link rel="stylesheet" type="text/css" href="/css/header.css">
    <link rel="stylesheet" type="text/css" href="/css/footer.css">
    <link rel="stylesheet" type="text/css" href="/css/sidebar.css">
    <link rel="stylesheet" type="text/css" href="/css/crumbs.css">
    <!-- PAGE SPECIFIC CSS (kind of but technically not really ) -->
    <link rel="stylesheet" type="text/css" href="/css/article.css">
    <link rel="stylesheet" type="text/css" href="/css/contact.css">
    <link rel="stylesheet" type="text/css" href="/css/editor.css">
    <link rel="stylesheet" type="text/css" href="/css/sponsor.css">
    <link rel="stylesheet" type="text/css" href="/css/admin.css">
    <!-- MASTER SCRIPT -->
    <script src="/js/index.js"></script>
    <title>
        <%= title %>
    </title>
</head>